*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
    background: rgb(38, 38, 38);
}

.convert{
    max-width: 95%;
    margin-top: 8.5%;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;  
}
@media only screen and (max-width: 600px) {
    .convert {
        width: 90%; 
        margin-top: 30%; 
        justify-content: center;
    }
}
.box{
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
}
.title{
    font-size: 2rem;
    text-align: center;
}
.box>label{ 
    margin-top: 4%;
    font-size: 1.7rem;
}
.box>input{
    margin-top: 2%;
    width: 90%;
    padding: 1%;
    font-size: 1.3rem;
    border-radius: 10px;
    border: none;
    padding: 0.4em;
}

.select-currency{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}
.select-currency>select{
    
    text-align: center;
    width: 7.8rem;
    padding: 0.3em;
    font-family: 'Poppins';
    font-size: 1.3rem;
    border-radius: 9px;
    border: none;
    background-color: rgb(255, 215, 226);
}
#convert-btn{
    margin-top: 5%;
    padding: 1%;
    width: 90%;
    font-family: 'Poppins';
    border-radius: 10px;
    border: none;
    font-size: 1.5rem;
    background-color: rgb(255, 108, 167);
}
#result{
    width: 90%;
    font-family: 'Poppins';
    text-align: center;
    font-size: 1.5rem;
    color: black;
    margin-top: 5%;
    background-color: rgb(255, 215, 226);
    padding: 2%;
    border-radius: 10px;
    margin-bottom: 5%;
}
.blob {
    position: absolute;
    top: 0;
    left: 0;
    fill: #ff66d1;
    width: 20vmax;
    z-index: -1;
    animation: move 10s ease-in-out infinite;
    transform-origin: 50% 50%;
  }
  
  @keyframes move {
    0%   { transform: scale(1)   translate(10px, -30px); }
    38%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
    40%  { transform: scale(0.8, 1) translate(80vw, 30vh) rotate(160deg); }
    78%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
    80%  { transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg); }
    100% { transform: scale(1)   translate(10px, -30px); }
  }

::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    background: rgb(255, 215, 226);
  }
  
::-webkit-scrollbar-thumb {
    background: rgb(255, 108, 167);
    border-radius: 25px;
  }